%h1.theresa Theresa Shultz   


#container
  #box1
    #img1= image_tag 'artwork/projects.png'
  #box2
    #img2= image_tag 'artwork/personal.png'
  #box3
    #img3= image_tag 'artwork/places.png'
  #box4
    #img4= image_tag 'artwork/pranks.png'