%h1.theresa Theresa Shultz   


#container
  = image_tag 'artwork/projects.png', :class => 'image_down'
  = image_tag 'artwork/personal.png'
#container
  = image_tag 'artwork/places.png'
  = image_tag 'artwork/pranks.png'

/ #main
/   #container1
/     #box1
/       #img1= image_tag 'artwork/projects.png'
/     #box2
/       #img2= image_tag 'artwork/personal.png'
/   #container2
/     #box3
/       #img3= image_tag 'artwork/places.png'
/     #box4
/       #img4= image_tag 'artwork/pranks.png'