%container
  %h1.theresa Theresa Shultz    
  %img{src: 'http://www.gravatar.com/avatar/8cbf876c28fcb4cfd9f4565ae7e49bba.jpg?s=80', class: 'circle', id: 'gravatar', style: 'display:none;'}
  
  #beaver.animate
    %img{src: 'assets/cat.png', width: '100px', height: '100px'}
    
    
  #main
    %p Hey guys how are you