/* ----- IMPORTS ------ */
@import url(http://fonts.googleapis.com/css?family=Sacramento);

body {
  background-image: url(shl.png);
    background-repeat: repeat;
  margin:50px 0px; padding:0px;
	text-align:center;
}

h1.theresa {
  font-family: 'Sacramento', cursive;
  font-size: 80px;
}

#container {
  width:650px;
  height: 800px;
	margin:0px auto;
  padding:15px;
}

#box1 {
  width: 325px;
  height: 325px;
  float: left;
}

#box2 {
  width: 325px;
  height: 325px;
  float: right;
}

#box3 {
  width: 325px;
  height: 300px;
  float: left;
}

#box4 {
  width: 325px;
  height: 300px;
  float: right;
}

#img1 {
  padding: 50px 0px 55px 15px;
}

#img2 {
  padding: 0px 50px 0px 0px;
}

#img3 {
  padding: 0px 0px 35px 70px;
}

#img4 {
  padding: 0px 0px 0px 10px;
}